:root {
  --dt_color-bg-pry: #fff;
  --dt_color-bg-pry-hover: #45444721;
  --dt_color-bg-pry-pressed: #45444738;
  --dt_color-bg-var-1: #f8f8f8;
  --dt_color-bg-var-1-hover: #45444721;
  --dt_color-bg-var-1-pressed: #45444738;
  --dt_color-bg-var-2: #eaeaea;
  --dt_color-bg-var-2-hover: #45444721;
  --dt_color-bg-var-2-pressed: #45444738;
  --dt_color-bg-hgl-1: #e3f8ff;
  --dt_color-bg-hgl-1-hover: #0071a421;
  --dt_color-bg-hgl-1-pressed: #0071a438;
  --dt_color-bg-hgl-2: #e3fff3;
  --dt_color-bg-hgl-2-hover: #007a5a21;
  --dt_color-bg-hgl-2-pressed: #007a5a38;
  --dt_color-bg-hgl-3: #fffae0;
  --dt_color-bg-hgl-3-hover: #aa800021;
  --dt_color-bg-hgl-3-pressed: #aa800038;
  --dt_color-bg-imp: #ffe8ef;
  --dt_color-bg-imp-hover: #c0134321;
  --dt_color-bg-imp-pressed: #c0134338;
  --dt_color-bg-modal: #1d1c1db3;
  --dt_color-bg-modal-hover: #45444721;
  --dt_color-bg-modal-pressed: #45444738;
  --dt_color-ctr-pry: #fff;
  --dt_color-ctr-pry-hover: #45444721;
  --dt_color-ctr-pry-pressed: #45444738;
  --dt_color-surf-pry: #1d1c1d0f;
  --dt_color-surf-pry-hover: #45444721;
  --dt_color-surf-pry-pressed: #45444738;
  --dt_color-surf-var-1: #1d1c1d40;
  --dt_color-surf-var-1-hover: #45444721;
  --dt_color-surf-var-1-pressed: #45444738;
  --dt_color-surf-hgl-1: #36c5f021;
  --dt_color-surf-hgl-1-hover: #0071a421;
  --dt_color-surf-hgl-1-pressed: #0071a438;
  --dt_color-surf-hgl-2: #4cc89440;
  --dt_color-surf-hgl-2-hover: #007a5a21;
  --dt_color-surf-hgl-2-pressed: #007a5a38;
  --dt_color-surf-hgl-3: #ffc6001f;
  --dt_color-surf-hgl-3-hover: #aa800021;
  --dt_color-surf-hgl-3-pressed: #aa800038;
  --dt_color-surf-imp: #ff81aa21;
  --dt_color-surf-imp-hover: #c0134321;
  --dt_color-surf-imp-pressed: #c0134338;
  --dt_color-onbg-surf-ctr-pry: #1d1c1d;
  --dt_color-onbg-surf-ctr-pry-hover: #45444721;
  --dt_color-onbg-surf-ctr-pry-pressed: #45444738;
  --dt_color-onbg-surf-ctr-var-1: #454447;
  --dt_color-onbg-surf-ctr-var-1-hover: #45444721;
  --dt_color-onbg-surf-ctr-var-1-pressed: #45444738;
  --dt_color-onbg-surf-ctr-var-2: #7c7a7f;
  --dt_color-onbg-surf-ctr-var-2-hover: #45444721;
  --dt_color-onbg-surf-ctr-var-2-pressed: #45444738;
  --dt_color-onbg-surf-ctr-hgl-1: #1264a3;
  --dt_color-onbg-surf-ctr-hgl-1-hover: #1264a321;
  --dt_color-onbg-surf-ctr-hgl-1-pressed: #1264a338;
  --dt_color-onbg-surf-ctr-hgl-2: #007a5a;
  --dt_color-onbg-surf-ctr-hgl-2-hover: #007a5a21;
  --dt_color-onbg-surf-ctr-hgl-2-pressed: #007a5a38;
  --dt_color-onbg-surf-ctr-hgl-3: #6b5000;
  --dt_color-onbg-surf-ctr-hgl-3-hover: #aa800021;
  --dt_color-onbg-surf-ctr-hgl-3-pressed: #aa800038;
  --dt_color-onbg-surf-ctr-imp: #e01e5a;
  --dt_color-onbg-surf-ctr-imp-hover: #c0134321;
  --dt_color-onbg-surf-ctr-imp-pressed: #c0134338;
  --dt_color-inv-pry: #1d1c1d;
  --dt_color-inv-pry-hover: #45444721;
  --dt_color-inv-pry-pressed: #45444738;
  --dt_color-inv-hgl-1: #1264a3;
  --dt_color-inv-hgl-1-hover: #1264a321;
  --dt_color-inv-hgl-1-pressed: #1264a338;
  --dt_color-inv-hgl-2: #007a5a;
  --dt_color-inv-hgl-2-hover: #007a5a21;
  --dt_color-inv-hgl-2-pressed: #007a5a38;
  --dt_color-inv-hgl-3: #e7b421;
  --dt_color-inv-hgl-3-hover: #45444721;
  --dt_color-inv-hgl-3-pressed: #45444738;
  --dt_color-inv-imp: #e01e5a;
  --dt_color-inv-imp-hover: #c0134321;
  --dt_color-inv-imp-pressed: #c0134338;
  --dt_color-oninv-pry: #fff;
  --dt_color-oninv-pry-hover: #45444721;
  --dt_color-oninv-pry-pressed: #45444738;
  --dt_color-oninv-var-1: #eaeaea;
  --dt_color-oninv-var-1-hover: #45444721;
  --dt_color-oninv-var-1-pressed: #45444738;
  --dt_color-oninv-hgl-1: #98d1f9;
  --dt_color-oninv-hgl-1-hover: #45444721;
  --dt_color-oninv-hgl-1-pressed: #45444738;
  --dt_color-oninv-hgl-2: #4cc894;
  --dt_color-oninv-hgl-2-hover: #007a5a21;
  --dt_color-oninv-hgl-2-pressed: #007a5a38;
  --dt_color-oninv-hgl-3: #ffd738;
  --dt_color-oninv-hgl-3-hover: #aa800021;
  --dt_color-oninv-hgl-3-pressed: #aa800038;
  --dt_color-oninv-imp: #ffa3c2;
  --dt_color-oninv-imp-hover: #c0134321;
  --dt_color-oninv-imp-pressed: #c0134338;
  --dt_color-oninv-var-2: #1d1c1d;
  --dt_color-oninv-var-2-hover: #45444721;
  --dt_color-oninv-var-2-pressed: #45444738;
  --dt_color-otl-pry: #7c7a7f;
  --dt_color-otl-var-1: #5e5d6073;
  --dt_color-otl-var-2: #5e5d6040;
  --dt_color-otl-hgl-1: #1264a3;
  --dt_color-otl-hgl-1-var: #0e9dd333;
  --dt_color-otl-hgl-2: #007a5a;
  --dt_color-otl-hgl-2-var: #007a5a1a;
  --dt_color-otl-hgl-3: #e7b421;
  --dt_color-otl-hgl-3-var: #e7b42133;
  --dt_color-otl-imp: #e01e5a;
  --dt_color-otl-imp-var: #e01e5a4d;
  --dt_color-theme-bg-pry: #4a154b;
  --dt_color-theme-bg-pry-hover: #83388a21;
  --dt_color-theme-bg-pry-pressed: #83388a38;
  --dt_color-theme-bg-var-1: #39063a;
  --dt_color-theme-bg-var-1-hover: #83388a21;
  --dt_color-theme-bg-var-1-pressed: #83388a38;
  --dt_color-theme-bg-var-2: #866286;
  --dt_color-theme-bg-var-2-hover: #45444721;
  --dt_color-theme-bg-var-2-pressed: #45444738;
  --dt_color-theme-bg-hgl-1: #1264a3;
  --dt_color-theme-bg-hgl-1-hover: #1264a321;
  --dt_color-theme-bg-hgl-1-pressed: #1264a338;
  --dt_color-theme-bg-hgl-2: #20a271;
  --dt_color-theme-bg-hgl-2-hover: #007a5a21;
  --dt_color-theme-bg-hgl-2-pressed: #007a5a38;
  --dt_color-theme-bg-imp: #e01e5a;
  --dt_color-theme-bg-imp-hover: #c0134321;
  --dt_color-theme-bg-imp-pressed: #c0134338;
  --dt_color-theme-surf-pry: #ffffff21;
  --dt_color-theme-surf-pry-hover: #45444721;
  --dt_color-theme-surf-pry-pressed: #45444738;
  --dt_color-theme-surf-var: #ffffff4d;
  --dt_color-theme-surf-var-hover: #45444721;
  --dt_color-theme-surf-var-pressed: #45444738;
  --dt_color-theme-onbg-surf-ctr-pry: #fff;
  --dt_color-theme-onbg-surf-ctr-pry-hover: #45444721;
  --dt_color-theme-onbg-surf-ctr-pry-pressed: #45444738;
  --dt_color-theme-onbg-surf-ctr-var-1: #ffffffb3;
  --dt_color-theme-onbg-surf-ctr-var-1-hover: #45444721;
  --dt_color-theme-onbg-surf-ctr-var-1-pressed: #45444738;
  --dt_color-theme-onbg-surf-ctr-var-2: #ffffff80;
  --dt_color-theme-onbg-surf-ctr-var-2-hover: #45444721;
  --dt_color-theme-onbg-surf-ctr-var-2-pressed: #45444738;
  --dt_color-theme-inv-pry: #fff;
  --dt_color-theme-inv-pry-hover: #45444721;
  --dt_color-theme-inv-pry-pressed: #45444738;
  --dt_color-theme-inv-var-1: #f9edff;
  --dt_color-theme-inv-var-1-hover: #83388a21;
  --dt_color-theme-inv-var-1-pressed: #83388a38;
  --dt_color-theme-oninv-pry: #1d1c1d;
  --dt_color-theme-oninv-pry-hover: #45444721;
  --dt_color-theme-oninv-pry-pressed: #45444738;
  --dt_color-theme-oninv-var-1: #4a154b;
  --dt_color-theme-oninv-var-1-hover: #83388a21;
  --dt_color-theme-oninv-var-1-pressed: #83388a38;
  --dt_color-theme-otl-pry: #ffffff80;
  --dt_color-theme-otl-var-1: #ffffff21;
  --dt_color-plt-gray-0: #f8f8f8;
  --dt_color-plt-gray-5: #eaeaea;
  --dt_color-plt-gray-10: #d7d7da;
  --dt_color-plt-gray-20: #cbcccf;
  --dt_color-plt-gray-30: #b5b5ba;
  --dt_color-plt-gray-40: #9a9a9f;
  --dt_color-plt-gray-50: #7c7a7f;
  --dt_color-plt-gray-60: #5e5d60;
  --dt_color-plt-gray-70: #454447;
  --dt_color-plt-gray-80: #333133;
  --dt_color-plt-gray-90: #262426;
  --dt_color-plt-gray-100: #1d1c1d;
  --dt_color-plt-gray-hover: #45444721;
  --dt_color-plt-gray-pressed: #45444738;
  --dt_color-plt-tomato-0: #ffebeb;
  --dt_color-plt-tomato-5: #ffd6d5;
  --dt_color-plt-tomato-10: #ffc2be;
  --dt_color-plt-tomato-20: #fe9c92;
  --dt_color-plt-tomato-30: #f77c69;
  --dt_color-plt-tomato-40: #ed6246;
  --dt_color-plt-tomato-50: #de4e2b;
  --dt_color-plt-tomato-60: #c73c1c;
  --dt_color-plt-tomato-70: #ad2e12;
  --dt_color-plt-tomato-80: #92220c;
  --dt_color-plt-tomato-90: #781a09;
  --dt_color-plt-tomato-100: #611307;
  --dt_color-plt-tomato-hover: #ad2e1221;
  --dt_color-plt-tomato-pressed: #ad2e1238;
  --dt_color-plt-paprika-0: #fff0eb;
  --dt_color-plt-paprika-5: #fbdfd5;
  --dt_color-plt-paprika-10: #f4c9b9;
  --dt_color-plt-paprika-20: #e8a991;
  --dt_color-plt-paprika-30: #de8969;
  --dt_color-plt-paprika-40: #dc724b;
  --dt_color-plt-paprika-50: #d65d30;
  --dt_color-plt-paprika-60: #cc4b1b;
  --dt_color-plt-paprika-70: #bb3c0c;
  --dt_color-plt-paprika-80: #a23004;
  --dt_color-plt-paprika-90: #842500;
  --dt_color-plt-paprika-100: #611b00;
  --dt_color-plt-paprika-hover: #bb3c0c21;
  --dt_color-plt-paprika-pressed: #bb3c0c38;
  --dt_color-plt-tangerine-0: #ffede5;
  --dt_color-plt-tangerine-5: #ffe3d6;
  --dt_color-plt-tangerine-10: #fed4be;
  --dt_color-plt-tangerine-20: #fbb895;
  --dt_color-plt-tangerine-30: #f89b6c;
  --dt_color-plt-tangerine-40: #f28045;
  --dt_color-plt-tangerine-50: #e96825;
  --dt_color-plt-tangerine-60: #dc540c;
  --dt_color-plt-tangerine-70: #c84600;
  --dt_color-plt-tangerine-80: #ac3d00;
  --dt_color-plt-tangerine-90: #8b3200;
  --dt_color-plt-tangerine-100: #662500;
  --dt_color-plt-tangerine-hover: #c8460021;
  --dt_color-plt-tangerine-pressed: #c8460038;
  --dt_color-plt-campfire-0: #fff2e0;
  --dt_color-plt-campfire-5: #fde2be;
  --dt_color-plt-campfire-10: #fbcc91;
  --dt_color-plt-campfire-20: #f6b465;
  --dt_color-plt-campfire-30: #ed9027;
  --dt_color-plt-campfire-40: #de7a0d;
  --dt_color-plt-campfire-50: #cf6c02;
  --dt_color-plt-campfire-60: #bc6000;
  --dt_color-plt-campfire-70: #a35200;
  --dt_color-plt-campfire-80: #864300;
  --dt_color-plt-campfire-90: #683400;
  --dt_color-plt-campfire-100: #4d2600;
  --dt_color-plt-campfire-hover: #a3520021;
  --dt_color-plt-campfire-pressed: #a3520038;
  --dt_color-plt-honeycomb-0: #fcf2d9;
  --dt_color-plt-honeycomb-5: #fde3aa;
  --dt_color-plt-honeycomb-10: #ffd57e;
  --dt_color-plt-honeycomb-20: #f4c360;
  --dt_color-plt-honeycomb-30: #ecb22e;
  --dt_color-plt-honeycomb-40: #e19b06;
  --dt_color-plt-honeycomb-50: #d38d00;
  --dt_color-plt-honeycomb-60: #c07f00;
  --dt_color-plt-honeycomb-70: #a86e00;
  --dt_color-plt-honeycomb-80: #8e5b00;
  --dt_color-plt-honeycomb-90: #734900;
  --dt_color-plt-honeycomb-100: #593900;
  --dt_color-plt-honeycomb-hover: #a86e0021;
  --dt_color-plt-honeycomb-pressed: #a86e0038;
  --dt_color-plt-sunflower-0: #fffae0;
  --dt_color-plt-sunflower-5: #fff4b8;
  --dt_color-plt-sunflower-10: #ffec81;
  --dt_color-plt-sunflower-20: #ffd738;
  --dt_color-plt-sunflower-30: #ffc600;
  --dt_color-plt-sunflower-40: #f1b900;
  --dt_color-plt-sunflower-50: #dea900;
  --dt_color-plt-sunflower-60: #c79600;
  --dt_color-plt-sunflower-70: #aa8000;
  --dt_color-plt-sunflower-80: #8b6800;
  --dt_color-plt-sunflower-90: #6b5000;
  --dt_color-plt-sunflower-100: #4d3900;
  --dt_color-plt-sunflower-hover: #aa800021;
  --dt_color-plt-sunflower-pressed: #aa800038;
  --dt_color-plt-grass-0: #f4ffdb;
  --dt_color-plt-grass-5: #e5f5b8;
  --dt_color-plt-grass-10: #d2eb8c;
  --dt_color-plt-grass-20: #b4d758;
  --dt_color-plt-grass-30: #9bc339;
  --dt_color-plt-grass-40: #85af26;
  --dt_color-plt-grass-50: #729c1a;
  --dt_color-plt-grass-60: #608813;
  --dt_color-plt-grass-70: #50740e;
  --dt_color-plt-grass-80: #40600a;
  --dt_color-plt-grass-90: #324c08;
  --dt_color-plt-grass-100: #243806;
  --dt_color-plt-grass-hover: #50740e21;
  --dt_color-plt-grass-pressed: #50740e38;
  --dt_color-plt-cilantro-0: #f0ffe9;
  --dt_color-plt-cilantro-5: #d7f5c8;
  --dt_color-plt-cilantro-10: #c0ecaa;
  --dt_color-plt-cilantro-20: #94d874;
  --dt_color-plt-cilantro-30: #6fc54a;
  --dt_color-plt-cilantro-40: #50b12a;
  --dt_color-plt-cilantro-50: #379e15;
  --dt_color-plt-cilantro-60: #228b07;
  --dt_color-plt-cilantro-70: #137700;
  --dt_color-plt-cilantro-80: #0b6400;
  --dt_color-plt-cilantro-90: #045100;
  --dt_color-plt-cilantro-100: #003d00;
  --dt_color-plt-cilantro-hover: #13770021;
  --dt_color-plt-cilantro-pressed: #13770038;
  --dt_color-plt-mojito-0: #e9ffec;
  --dt_color-plt-mojito-5: #d0f6d7;
  --dt_color-plt-mojito-10: #b8eec2;
  --dt_color-plt-mojito-20: #87dc9b;
  --dt_color-plt-mojito-30: #60ca7e;
  --dt_color-plt-mojito-40: #43b868;
  --dt_color-plt-mojito-50: #2fa659;
  --dt_color-plt-mojito-60: #22954d;
  --dt_color-plt-mojito-70: #1a8343;
  --dt_color-plt-mojito-80: #1a713c;
  --dt_color-plt-mojito-90: #185f34;
  --dt_color-plt-mojito-100: #004522;
  --dt_color-plt-mojito-hover: #1a834321;
  --dt_color-plt-mojito-pressed: #1a834338;
  --dt_color-plt-jade-0: #e3fff3;
  --dt_color-plt-jade-5: #c3f6e0;
  --dt_color-plt-jade-10: #a5edce;
  --dt_color-plt-jade-20: #74dbaf;
  --dt_color-plt-jade-30: #4cc894;
  --dt_color-plt-jade-40: #2eb67d;
  --dt_color-plt-jade-50: #20a271;
  --dt_color-plt-jade-60: #178f65;
  --dt_color-plt-jade-70: #007a5a;
  --dt_color-plt-jade-80: #0e674d;
  --dt_color-plt-jade-90: #0c5340;
  --dt_color-plt-jade-100: #0a4032;
  --dt_color-plt-jade-hover: #007a5a21;
  --dt_color-plt-jade-pressed: #007a5a38;
  --dt_color-plt-aquarium-0: #e3ffff;
  --dt_color-plt-aquarium-5: #c5f6f7;
  --dt_color-plt-aquarium-10: #a9edef;
  --dt_color-plt-aquarium-20: #78d7dd;
  --dt_color-plt-aquarium-30: #53bfc9;
  --dt_color-plt-aquarium-40: #37a8b6;
  --dt_color-plt-aquarium-50: #2392a2;
  --dt_color-plt-aquarium-60: #167d8e;
  --dt_color-plt-aquarium-70: #0d6a7b;
  --dt_color-plt-aquarium-80: #085867;
  --dt_color-plt-aquarium-90: #054753;
  --dt_color-plt-aquarium-100: #033640;
  --dt_color-plt-aquarium-hover: #0d6a7b21;
  --dt_color-plt-aquarium-pressed: #0d6a7b38;
  --dt_color-plt-lagoon-0: #e3f8ff;
  --dt_color-plt-lagoon-5: #c1f0fe;
  --dt_color-plt-lagoon-10: #9fe8fd;
  --dt_color-plt-lagoon-20: #67d7f8;
  --dt_color-plt-lagoon-30: #36c5f0;
  --dt_color-plt-lagoon-40: #1cb6eb;
  --dt_color-plt-lagoon-50: #0e9dd3;
  --dt_color-plt-lagoon-60: #0487be;
  --dt_color-plt-lagoon-70: #0071a4;
  --dt_color-plt-lagoon-80: #0b527b;
  --dt_color-plt-lagoon-90: #1c405f;
  --dt_color-plt-lagoon-100: #0d2e45;
  --dt_color-plt-lagoon-hover: #0071a421;
  --dt_color-plt-lagoon-pressed: #0071a438;
  --dt_color-plt-ocean-0: #e6f5fe;
  --dt_color-plt-ocean-5: #c2e6fd;
  --dt_color-plt-ocean-10: #9ed6fa;
  --dt_color-plt-ocean-20: #73bdf3;
  --dt_color-plt-ocean-30: #54a9ea;
  --dt_color-plt-ocean-40: #3b97dd;
  --dt_color-plt-ocean-50: #2985cd;
  --dt_color-plt-ocean-60: #1b74b9;
  --dt_color-plt-ocean-70: #1264a3;
  --dt_color-plt-ocean-80: #0b4c8c;
  --dt_color-plt-ocean-90: #093a73;
  --dt_color-plt-ocean-100: #122a59;
  --dt_color-plt-ocean-hover: #1264a321;
  --dt_color-plt-ocean-pressed: #1264a338;
  --dt_color-plt-indigo-0: #f0f3fc;
  --dt_color-plt-indigo-5: #dce3fa;
  --dt_color-plt-indigo-10: #c8d4f8;
  --dt_color-plt-indigo-20: #a0b3f3;
  --dt_color-plt-indigo-30: #7d95eb;
  --dt_color-plt-indigo-40: #5f7be1;
  --dt_color-plt-indigo-50: #4864d2;
  --dt_color-plt-indigo-60: #3651c0;
  --dt_color-plt-indigo-70: #2840a9;
  --dt_color-plt-indigo-80: #1e328f;
  --dt_color-plt-indigo-90: #112377;
  --dt_color-plt-indigo-100: #091861;
  --dt_color-plt-indigo-hover: #2840a921;
  --dt_color-plt-indigo-pressed: #2840a938;
  --dt_color-plt-aubergine-0: #f9edff;
  --dt_color-plt-aubergine-5: #f6e4ff;
  --dt_color-plt-aubergine-10: #f4daff;
  --dt_color-plt-aubergine-20: #eabdfb;
  --dt_color-plt-aubergine-30: #df9ff4;
  --dt_color-plt-aubergine-40: #d389e7;
  --dt_color-plt-aubergine-50: #c474d3;
  --dt_color-plt-aubergine-60: #a350af;
  --dt_color-plt-aubergine-70: #83388a;
  --dt_color-plt-aubergine-80: #611f69;
  --dt_color-plt-aubergine-90: #4a154b;
  --dt_color-plt-aubergine-100: #39063a;
  --dt_color-plt-aubergine-hover: #83388a21;
  --dt_color-plt-aubergine-pressed: #83388a38;
  --dt_color-plt-sangria-0: #fff0f6;
  --dt_color-plt-sangria-5: #fae1ec;
  --dt_color-plt-sangria-10: #f6d2e2;
  --dt_color-plt-sangria-20: #edb4ce;
  --dt_color-plt-sangria-30: #e296b9;
  --dt_color-plt-sangria-40: #d378a3;
  --dt_color-plt-sangria-50: #c05b8c;
  --dt_color-plt-sangria-60: #b4497e;
  --dt_color-plt-sangria-70: #943364;
  --dt_color-plt-sangria-80: #7c2852;
  --dt_color-plt-sangria-90: #5e1237;
  --dt_color-plt-sangria-100: #4d0025;
  --dt_color-plt-sangria-hover: #94336421;
  --dt_color-plt-sangria-pressed: #94336438;
  --dt_color-plt-flamingo-0: #ffe8ef;
  --dt_color-plt-flamingo-5: #ffd6e4;
  --dt_color-plt-flamingo-10: #ffc4d9;
  --dt_color-plt-flamingo-20: #ffa3c2;
  --dt_color-plt-flamingo-30: #ff81aa;
  --dt_color-plt-flamingo-40: #fa5f90;
  --dt_color-plt-flamingo-50: #ef3e75;
  --dt_color-plt-flamingo-60: #e01e5a;
  --dt_color-plt-flamingo-70: #c01343;
  --dt_color-plt-flamingo-80: #9e0b2e;
  --dt_color-plt-flamingo-90: #7b041c;
  --dt_color-plt-flamingo-100: #59000f;
  --dt_color-plt-flamingo-hover: #c0134321;
  --dt_color-plt-flamingo-pressed: #c0134338;
  --dt_color-plt-rose-0: #ffe8ea;
  --dt_color-plt-rose-5: #ffdde0;
  --dt_color-plt-rose-10: #ffd1d6;
  --dt_color-plt-rose-20: #ffb6bd;
  --dt_color-plt-rose-30: #fa9da6;
  --dt_color-plt-rose-40: #fa7c86;
  --dt_color-plt-rose-50: #f2606a;
  --dt_color-plt-rose-60: #d9454d;
  --dt_color-plt-rose-70: #bb2c33;
  --dt_color-plt-rose-80: #921d21;
  --dt_color-plt-rose-90: #790a0d;
  --dt_color-plt-rose-100: #590001;
  --dt_color-plt-rose-hover: #bb2c3321;
  --dt_color-plt-rose-pressed: #bb2c3338;
  --dt_color-plt-horchata-0: #f4ede4;
  --dt_color-plt-horchata-5: #ecdecc;
  --dt_color-plt-horchata-10: #e3ceb5;
  --dt_color-plt-horchata-20: #d1b18b;
  --dt_color-plt-horchata-30: #bf9668;
  --dt_color-plt-horchata-40: #ae7f4d;
  --dt_color-plt-horchata-50: #9c6c39;
  --dt_color-plt-horchata-60: #8a5b2a;
  --dt_color-plt-horchata-70: #784c1f;
  --dt_color-plt-horchata-80: #663f18;
  --dt_color-plt-horchata-90: #543312;
  --dt_color-plt-horchata-100: #42280d;
  --dt_color-plt-horchata-hover: #784c1f21;
  --dt_color-plt-horchata-pressed: #784c1f38;
  --dt_color-brand-core-aubergine: #4a154b;
  --dt_color-brand-core-horchatta: #f4ede4;
  --dt_color-brand-core-black: #1d1c1d;
  --dt_color-brand-core-white: #fff;
  --dt_color-brand-core-slack-blue: #36c5f0;
  --dt_color-brand-core-slack-green: #2eb67d;
  --dt_color-brand-core-slack-yellow: #ecb22e;
  --dt_color-brand-core-slack-red: #e01e5a;
  --dt_color-brand-sec-inactive-gray: #eaeaea;
  --dt_color-brand-sec-legal: #5e5d60;
  --dt_color-brand-sec-small-text: #454447;
  --dt_color-brand-sec-text: #1d1c1d;
  --dt_color-brand-sec-terracotta: #de8969;
  --dt_color-brand-sec-peach: #fed4be;
  --dt_color-brand-sec-sandbar: #ffd57e;
  --dt_color-brand-sec-moss: #608813;
  --dt_color-brand-sec-evergreen: #185f34;
  --dt_color-brand-sec-pool: #78d7dd;
  --dt_color-brand-sec-teal: #167d8e;
  --dt_color-brand-sec-cobalt: #112377;
  --dt_color-brand-sec-bright-aubergine: #611f69;
  --dt_color-brand-sec-mauve: #c05b8c;
  --dt_color-brand-sec-berry: #5e1237;
  --dt_color-brand-sec-bubblegum: #ffb6bd;
  --dt_color-brand-sec-salmon: #f2606a;
  --dt_color-brand-sec-crimson: #921d21;
  --dt_color-brand-sec-bg-gray: #f8f8f8;
  --dt_color-constants-white: #fff;
  --dt_color-constants-black: #000;
  --dt_shadow-a11y: 0px 0px 0px 1px #1264a3, 0px 0px 0px 5px #0e9dd333;
  --dt_shadow-sm: 0px 1px 2px 0px #0000000c;
  --dt_shadow-base: 0px 1px 3px 0px #00000019, 0px 1px 2px -1px #00000019;
  --dt_shadow-md: 0px 2px 4px -2px #00000019, 0px 4px 6px -1px #00000019;
  --dt_shadow-lg: 0px 4px 6px -4px #00000019, 0px 10px 15px -3px #00000019;
  --dt_shadow-xl: 0px 20px 25px -5px #00000019, 0px 8px 10px -6px #00000019;
  --dt_shadow-2xl: 0px 25px 50px -12px #00000040;
  --dt_shadow-inner: inset 0px 2px 4px 0px #0000000c;
  --dt_radius-none: 0px;
  --dt_radius-small: 2px;
  --dt_radius-base: 4px;
  --dt_radius-large: 8px;
  --dt_radius-rounded: 9999px;
  --dt_space-0: 0px;
  --dt_space-100: 16px;
  --dt_space-125: 20px;
  --dt_space-150: 24px;
  --dt_space-175: 28px;
  --dt_space-200: 32px;
  --dt_space-225: 36px;
  --dt_space-250: 40px;
  --dt_space-275: 44px;
  --dt_space-300: 48px;
  --dt_space-325: 52px;
  --dt_space-350: 56px;
  --dt_space-400: 64px;
  --dt_space-500: 80px;
  --dt_space-550: 88px;
  --dt_space-600: 96px;
  --dt_space-1200: 192px;
  --dt_space-1600: 256px;
  --dt_space-3200: 512px;
  --dt_space-scale: 4px;
  --dt_space-0125: 2px;
  --dt_space-025: 4px;
  --dt_space-050: 8px;
  --dt_space-075: 12px;
  --dt_space-px: 1px;
  --dt_opacity-0: 0;
  --dt_opacity-25: 0.25;
  --dt_opacity-50: 0.5;
  --dt_opacity-75: 0.75;
  --dt_opacity-100: 1;
  --dt_type-family-lato: Lato;
  --dt_type-leading-small: 1.25;
  --dt_type-leading-base: 1.5;
  --dt_type-size-micro: 12px;
  --dt_type-size-caption: 13px;
  --dt_type-size-base: 15px;
  --dt_type-size-subtitle: 18px;
  --dt_type-size-title: 22px;
  --dt_type-size-headline: 28px;
  --dt_type-weight-base: 400;
  --dt_type-weight-bold: 700;
  --dt_type-weight-black: 900;
  --dt_bp-xxl: 1680px;
  --dt_bp-xl: 1440px;
  --dt_bp-lg: 1024px;
  --dt_bp-md: 768px;
  --dt_bp-sm: 640px;
  --dt_bp-xs: 480px;
  --dt_bp-xxs: 375px;
  --dt_blend-mode-interaction: multiply;
}
