@import 'layout/top_nav.scss';

.p-client {
  background: $color-white;
  display: grid;
  grid-template-areas: 'p-client__workspace' 'p-client__banners';
  grid-template-columns: auto;
  grid-template-rows: auto min-content;
  height: 100vh;
  width: 100vw;
}

.p-workspace-layout {
  display: grid;
  overflow: visible;
  position: relative;
  grid-template-columns: 345px auto;
  grid-template-rows: 44px auto;
  grid-template-areas: 'p-top_nav p-top_nav' 'p-workspace__sidebar p-workspace__primary_view';
  grid-area: p-client__workspace;
}

.p-top_nav {
  min-height: 44px;
  grid-area: p-top_nav;
  position: relative;
  z-index: 203;
}

.p-workspace__sidebar {
  width: 200px;
  background: #303e4d;
  grid-area: p-workspace__sidebar;
}

.p-workspace__primary__view {
}

.p-workspace__footer {
}
